{
	"presets": [
		"next/babel",
		"@babel/preset-env",
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"@babel/transform-runtime",
			{
				"regenerator": true
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": false
			}
		],
		[
			"@babel/plugin-proposal-optional-chaining"
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@material-ui/core",
				"libraryDirectory": "esm",
				"camel2DashComponentName": false
			},
			"core"
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@material-ui/icons",
				"libraryDirectory": "esm",
				"camel2DashComponentName": false
			},
			"icons"
		]
	]
}
